@import "react-big-calendar/lib/css/react-big-calendar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background: #fafafa;
  color: #171717;
}

a {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.rbc-event {
  font-size: 0.75rem;
}

.rbc-event-content {
  font-size: 0.75rem;
}

.rbc-event--festival {
  background-color: #d97706;
}
